xml_json_feed/productos.dtd

<!ELEMENT productos (producto)*>
<!ELEMENT producto (codigo, nombre,descripcion,stock,pendientes,localizacion)>
<!ATTLIST producto cantidad CDATA   #IMPLIED>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT stock (#PCDATA)>
<!ELEMENT pendientes (#PCDATA)>
<!ELEMENT localizacion (pasillo,estanteria,estante)>
<!ELEMENT pasillo (#PCDATA)>
<!ELEMENT estanteria (#PCDATA)>
<!ELEMENT estante (#PCDATA)>